*,
html,
body {
    margin: 0;
    padding: 0;
    font-family: silkscreen;
}

:root {
    --bg-primary: rgb(50, 56, 242);
    --bg-secondary: #eaeaea;
    --txt-primary: #f7f7f7;
    --txt-secondary: #222222;
    --icons-primary: tomato;
}

.container {
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-color: var(--bg-primary);
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    width: 40%;
    border: 2px solid white;
    background-color: var(--bg-secondary); 
    color: var(--txt-secondary);
    padding: 30px;
    margin: 8px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.text-center {
    text-align: center;
}

.title {
    font-size: 2em;
}

.icons {
    margin-top: 8px;
    color: var(--icons-primary);
    font-size: 24px;
}

.description {
    margin-top: 8px;
    font-size: .7em;
}

.btn {
    margin-top: 16px;
    padding: 8px;
    cursor: pointer;
    border: none;
    width: 100%;
}

.btn:hover {
    background-color: var(--bg-primary);
    color: var(--txt-primary);
    transform: skewY(2deg);
    transition: 0.3s ease-in-out;
}

@media screen and (max-width: 476px) {
   .card {
    width: 95%;
   }

   .btn:hover {
    background-color: var(--bg-primary);
    color: var(--txt-primary);
    transform: skewY(2deg);
    transition: 0.3s ease-in-out;
}
}